/* 主页样式 */
.body {
	max-width: 500px;
	min-width: 390px;
	height: 600px;
	background: #ccc;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 30px;
}
.body .header{
	width: 100%;
	height: 60px;
	background: #000;
	color: white;
	border-radius: 30px;
}
.body .header span{
	display: inline-block;
	height: 60px;
	width: 165px;
	font-size: 22px;
	line-height: 60px;
	text-align: center;
	color: #eee;
}
.body .header input{
	width: 50%;
	height: 30px;
	line-height:30px;
	border-radius: 10px;
    padding-left: 15px;
    border: 0;
    box-shadow: 0 0 10px #fff;
}
.article h3{
	font-size: 18px;
	text-align:center;
	height: 40px;
	line-height: 40px;
	border-bottom: 2px dashed #333;
	margin: 0 10px;
}
.article .num{
	display: inline-block;
	margin-left: 10px;
	color: #333;
	font-size:16px;
}
.article .list ul li {
	height: 30px;
	line-height: 30px;
	background: #eee;
	border-left: 5px solid #111;
	margin: 5px 30px;
	padding-left: 5px;
	border-radius: 5px;
	position: relative;
}
.article .list ul li input[type="checkbox"]{
	line-height: 30px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 5px;
}
.article .list ul li .delete{
	position: absolute;
	background: #ddd;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 10px;
	font-size: 25px;
	right: 5px;
	top: 5px;
	cursor: pointer;
}
#doneshow li{
	opacity: 0.5;
}
.footer{
	max-width: 500px;
	min-width: 390px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}